:root {
    --body: #f5f8fb;
    --content__background: #ffffff;
    --nav__border: #eceef1;
    --nav__item--hover: #dcdcdc;
    --header__background: #b0b0b0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 99vh;
    background: var(--body);
}

main {
    width: 100vw;
    display: grid;
    grid-template-rows: 50px 20px 1fr;
    grid-template-columns: 425px 1fr 410px;
}

.main--nav {
    grid-row: 1;
    line-height: 50px;
    grid-column: 1 /span 3;
    background: var(--content__background);
    border-bottom: 1px solid var(--nav__border);
}

.main--nav__list {
    display: flex;
}
  
.main--nav__item {
    width: 110px;
    flex-shrink: 0;
    text-align: center;
    display: inline-block;
    border-right: 2px solid var(--nav__border);
}
 
.main--nav__item:hover {
    background: var(--nav__item--hover);
}

.main--nav__link {
    display: block;
    color: #000000;
    text-decoration: none;
}

.column {
    grid-row: 3;
    overflow: hidden;
    padding-left: 15px;
}

.column__header {
    width: 390px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    background: var(--header__background);
}

.column__content__container {
    overflow: scroll;
    height: calc( 100% - 40px );
}

.column__content {
    width: 390px;
    list-style-type: none;
}

.column__item {
    height: 70px;
    padding: 5px;
    background: var(--content__background);
    margin-bottom: 10px;
}

.column--center {
    padding: 0;
}

.column--right {
    padding: 0;
}

.column__header--large {
    width: calc(100% - 20px);
}

.column__content--large {
    width: calc(100% - 20px);
}

.column__content--grid {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-right: 20px;
}

.column__tile {
    height: 10vw;
    width: calc(16.66% - 8.33px);
    text-align: center;
    line-height: 10vw;
    margin: 0 10px 10px 0;
    background: var(--content__background);
}

.column__tile:nth-child(6n) {
    margin-right: 0;
}

@media (max-width: 2560px) {
    .column__tile {
        height: 10vw;
        width: calc(20% - 8px);
        line-height: 10vw;
    }
    
    .column__tile:nth-child(6n) {
        margin-right: 10px;
    }

    .column__tile:nth-child(5n) {
        margin-right: 0;
    }
}

@media (max-width: 2260px) {
    .column__tile {
        height: 11.3vw;
        width: calc(25% - 7.5px);
        line-height: 11.3vw;
    }
    
    .column__tile:nth-child(5n) {
        margin-right: 10px;
    }

    .column__tile:nth-child(4n) {
        margin-right: 0;
    }
}

@media (max-width: 1860px) {
    .column__tile {
        height: 13.2vw;
        width: calc(33.3% - 6.66px);
        line-height: 13.2vw;
    }
    
    .column__tile:nth-child(4n) {
        margin-right: 10px;
    }

    .column__tile:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 1560px) {
    .column__tile {
        height: 15.8vw;
        width: calc(50% - 5px);
        line-height: 15.8vw;
    }
    
    .column__tile:nth-child(3n) {
        margin-right: 10px;
    }

    .column__tile:nth-child(2n) {
        margin-right: 0;
    }

}

@media (max-width: 1260px) {
    main {
        grid-template-columns: 425px 1fr;
    }

    .column__tile {
        height: 16vw;
        width: calc(33.3% - 6.66px);
        line-height: 16vw;
    }
    
    .column__tile:nth-child(2n) {
        margin-right: 10px;
    }

    .column__tile:nth-child(3n) {
        margin-right: 0;
    }

    .column--right {
        display: none;
    }
}

@media (max-width: 1140px) {
    .column__tile {
        height: 22vw;
        width: calc(50% - 5px);
        line-height: 22vw;
    }
    
    .column__tile:nth-child(3n) {
        margin-right: 10px;
    }

    .column__tile:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 960px) {
    main {
        grid-template-columns: 425px 535px;
    }

    .column__tile {
        height: 210px;
        width: 252px;
        line-height: 210px;
    }
}